<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bounswe.purposefulcommunity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fragments.Instances.SearchResultActivity"></activity>
        <activity android:name=".Fragments.Instances.SearchActivity" />
        <activity android:name=".Fragments.Instances.CreateInstanceActivity" />
        <activity android:name=".Fragments.Instances.ShowTemplateActivity" />
        <activity android:name=".Fragments.Templates.TemplateActivity" />
        <activity android:name=".Fragments.Instances.ShowTemplatesActivity" />
        <activity android:name=".Fragments.Community.ExploreActivity" />
        <activity android:name=".Fragments.Community.CommunityActivity" />
        <activity android:name=".Fragments.Community.CreateCommActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Fragments.Community.CommunityFeedActivity" />
        </activity>
        <activity android:name=".Fragments.Community.ShowCommActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Fragments.Community.CommunityFeedActivity" />
        </activity>
        <activity android:name=".Fragments.Community.CommunityFeedActivity" />
        <activity android:name=".Fragments.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Fragments.LoginActivity" />
        </activity>
        <activity android:name=".Fragments.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragments.MainActivity" />
    </application>

</manifest>